
.warningPopup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  }
  .warningPopup .overlayBg{
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
  }
  .content{
    background-color: #fff;
    border-top: 7px solid #dd636e;
    border-radius: 20px;
    width:600px;
    height:450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
  }
  .content img{
    width: 120px;
    height: auto;
    margin: auto;
    display: block;
  }
  .content h2{
    font-size: 1.6em;
    text-align: center;
    margin: 2rem 0 0 0;
  }
  .content p{
    font-size: 1.2em;
    /* color:rgb(255, 83, 83); */
    font-weight: 500;
    text-align: center;
  }
  .content button{
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
    border: none;
    color: #fff;
    margin: 3rem auto auto auto;
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
           background-color: #dd636e;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  